body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1e293b, #0f172a);
  color: white;
}

.container {
  text-align: center;
  margin-top: 100px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15px;
  display: inline-block;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  
}

input {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #22c55e;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}